@import '../../styles/variables';

.settings-page {
  h2 {
    color: $primary;
    font-family: $font-header;
    margin-bottom: 1rem;
  }

  .settings-card {
    background: white;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    max-width: 400px;

    p {
      margin: 0.5rem 0;
      font-size: 1rem;
    }
  }
}
